<!-- Fragmento para el mapa en index.html -->
<section id="ubicacion" class="mapa">
    <h2>Encuéntranos en:</h2>
    <div id="mapa">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3287.4486802193296!2d-58.82038022433427!3d-34.51685877298562!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bc998e164e5945%3A0xcf5fcdc4e126da03!2sSantander%207925%2C%20B1740LBO%20Cuartel%20V%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1684382022030!5m2!1ses!2sar" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>


    <!-- Falta agregar el iframe que contiene el mapa -->
   

</section>